{% include 'header.html' %}
<div class="on-wrapper">
  <h1>
    Sök
  </h1>
</div>
  
<section class="wrapper">
<section class="search-form">
 <h2>Search for projects. Leave all fields blank to list all projects.</h2><br />
<form method="post" action="/search_results">
  <input class="search-box" type="text" name="search-text" placeholder="Search text" autofocus />
  <select name="sort_by" value="start_date">
    <option value="start_date">Sort By</option>
    <option value="start_date">Start Date</option>
    <option value="end_date">End Date</option>
    <option value="project_name">Project Name</option>
    <option value="project_no">Project ID</option>
    <option value="course_id">Course ID</option>
    <option value="lulz_had">FUN-factor</option>
  </select>
   <select name="sort_order" value="desc">
     <option value="desc">Sort Order</option>
     <option value="desc">Highest to lowest</option>
     <option value="asc">Lowest to highest</option>
  </select><br /><br />
   <h3> Filter by techniques used </h3>
   {% for each_technique in techniques %}
  <input name="techniques" type="checkbox" value="{{ each_technique }}"> {{ each_technique }} </input>
  {% endfor %} <br /><br />
   <h3> Search only in fields </h3>
  <input name="fields" type="checkbox" value="project_name"> Project Name </input>
  <input name="fields" type="checkbox" value="project_id"> Project ID </input>
  <input name="fields" type="checkbox" value="start_date"> Start Date </input>
  <input name="fields" type="checkbox" value="end_date"> End Date </input>
  <input name="fields" type="checkbox" value="course_name"> Course Name </input>
  <input name="fields" type="checkbox" value="course_id"> Course ID </input>
  <input name="fields" type="checkbox" value="short_description"> Project Description </input>
  <input name="fields" type="checkbox" value="long_description"> Project Text </input>

<br /><br />
  <input type="submit" value="Search!" class="big-btn"/>
</form>
</section>
</section>
{% include 'footer.html' %}
