{% include 'header.html' %}
<div class="on-wrapper">
  <h1>
    Tekniker
  </h1>
</div>
  
<section class="wrapper">
  {% for each_technique in techniques %}
  <h1 class="technique-heading"> {{ each_technique }} </h1>
  {% for i in range(techniques[each_technique]|length) %}

  <article class="box">
    <a class="project_link" href="../project/{{techniques[each_technique][i]['id'] }}">
      <article class="box-half">
	<img src="../static/images/{{(search(each_technique))[i]['small_image']}}" alt="image of project" width="100%" height="100%"/>
      </article>
	<article class="box-half">
	  <h3> Project name: {{ techniques[each_technique][i]['name'] }}</h3>
	  <p> Project id: {{ techniques[each_technique][i]['id'] }}</p>
	  <p> Start date: {{ (search(each_technique))[i]['start_date'] }} </p>
	  <p> Short description: {{ (search(each_technique))[i]['short_description'] }} </p>
	</article>
    </a>
  </article>

  {% endfor %} 
  {% endfor %}

</section>
{% include 'footer.html' %}
